<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Properties>  
      <property name="url">${bundle:application:mysql-log.datasource.jdbc-url}</property>
      <property name="driver">${bundle:application:mysql-log.datasource.driver-class-name}</property> 
      <property name="username">${bundle:application:mysql-log.datasource.username}</property>
      <property name="password">${bundle:application:mysql-log.datasource.password}</property> 
  	</Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
        <PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"></PatternLayout>
           <!--  <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/> -->
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
            <!-- <PatternLayout pattern="%d [%t] %-5p %c - %m%n" /> -->
        </Console>
        <JDBC name="MySQLDatabase" tableName="app_logs">
		 <DriverManager connectionString="${url}"
			driverClassName="${driver}" username="${username}" password="${password}"/>
	         <Column name="LOG_ID" pattern="%u" />
	         <Column name="ENTRY_DATE" isEventTimestamp="true" />
	         <Column name="LOGGER" pattern="%logger" />
	         <Column name="LOG_LEVEL" pattern="%level" />
	         <Column name="MESSAGE" pattern="%m" />
	         <Column name="KEY_NO" pattern="%X{KEY_NO}" />
			 <Column name="IP_ADDRESS" pattern="%X{IP_ADDRESS}" />
			 <Column name="ACTION" pattern="%X{ACTION}" />
	         <Column name="EXCEPTION" pattern="%throwable " />
      	</JDBC>
      	
	     <RollingFile name="file" fileName="logs/loggerAll.log" 
                 filePattern="logs/loggerAll.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d [%t] %-5p %c - %m%n" />
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mega" level="debug" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="LogToConsole"/>
            <!-- <AppenderRef ref="MySQLDatabase" /> -->
        </Logger>
        
        <Logger name="com.rangga.perusahaan" level="info" additivity="false">
        	<AppenderRef ref="file"/>
            <AppenderRef ref="LogToConsole"/>
        	<AppenderRef ref="MySQLDatabase" />
        </Logger>
        
        <Root level="info">
            <AppenderRef ref="file"/>
            <AppenderRef ref="LogToConsole"/>
            <!-- <AppenderRef ref="MySQLDatabase" /> -->
        </Root>
    </Loggers>
</Configuration>
